{% extends "base/base.html" %}

{% block content %}
  <!-- page start-->
  <div class="row-fluid" id="draggable_portlets">
      <div class="col-md-4 column sortable">
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-default">
              <div class="panel-heading">Portlet 1</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-primary">
              <div class="panel-heading">Portlet 2</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-success">
              <div class="panel-heading">Portlet 3</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
      </div>
      <div class="col-md-4 column sortable">
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-warning">
              <div class="panel-heading">Portlet 4</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-danger">
              <div class="panel-heading">Portlet 5</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-info">
              <div class="panel-heading">Portlet 6</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
      </div>
      <div class="col-md-4 column sortable">
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-default">
              <div class="panel-heading">Portlet 7</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-success">
              <div class="panel-heading">Portlet 8</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
          <!-- BEGIN Portlet PORTLET-->
          <div class="panel panel-primary">
              <div class="panel-heading">Portlet 9</div>
              <div class="panel-body">
                  Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  Cras mattis consectetur purus sit amet fermentum. Duis mollis.
              </div>
          </div>
          <!-- END Portlet PORTLET-->
      </div>
  </div>
  <!-- page end-->
{% endblock content %}

 {% block myscript %}
     <script type="text/javascript">
         $("#index").removeClass("active");
         $("#novel").removeClass("active");
         $("#writeNovel").addClass("active");
     </script>
 {% endblock myscript %}
